<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Widget</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>com.ioswidget</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleMinimumOSVersion</key>
	<string>17.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchBackground</string>
	</dict>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Dark</string>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.ioswidget.openapp</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>openapp</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.ioswidget.widgetar</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>widgetar</string>
			</array>
		</dict>
	</array>
	<key>UIApplicationShortcutItems</key>
	<array/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>googleapp</string>
		<string>googlegeminiai</string>
		<string>grok</string>
		<string>perplexity</string>
		<string>chatgpt</string>
		<string>doubao</string>
		<string>replika</string>
		<string>whatsapp</string>
		<string>tg</string>
		<string>weixin</string>
		<string>msteams</string>
		<string>zoomus</string>
		<string>facetime</string>
		<string>facetime-audio</string>
		<string>sms</string>
		<string>tel</string>
		<string>comgooglemaps</string>
		<string>uber</string>
		<string>grab</string>
		<string>spotify</string>
		<string>vnd.youtube</string>
		<string>taobao</string>
		<string>alipay</string>
		<string>alipayqr</string>
		<string>alipays</string>
		<string>shopee</string>
		<string>dbsnow</string>
		<string>chase</string>
		<string>citi</string>
		<string>wallet</string>
		<string>sg.gov.singpass.app</string>
		<string>libby</string>
		<string>shortcuts</string>
		<string>googletranslate</string>
		<string>itms-apps</string>
		<string>shareddocuments</string>
		<string>googlephotos</string>
		<string>widgetsmith</string>
		<string>hiltonhhonors</string>
		<string>marriott</string>
		<string>singaporeair</string>
		<string>concurmobile</string>
		<string>ms-onedrive</string>
		<string>ms-officemobile</string>
		<string>googlehome</string>
		<string>mihome</string>
		<string>duolingo</string>
	</array>
</dict>
</plist>